<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand mx-auto mx-sm-0">
    <a href="index.html">
      <img src="https://api.oyvtp.org/OCAC-logo.png" class="d-inline-block" style="width: 100px; height: auto;" alt="僑務委員會">
    </a>
  </div>

  <div class="d-inline-flex flex-column mx-auto mx-sm-0 mr-sm-auto pl-sm-3">
    <span class="navbar-nav">中華民國僑務委員會</span>
    <span class="navbar-nav">海外青年技術訓練班</span>
    <span class="navbar-nav"><%= headline %></span>
    <span class="navbar-nav"><%= subline %></span>
  </div>

  <ul class="nav nav-pills nav-fill mx-auto mx-lg-0 p-3">
    <% for (item of navs) { %>
      <li class="nav-item nav-<%= item.nav %>">
        <a class="nav-link <%- nav == item.nav ? 'active' : '' %>" href="<%= item.link %><%= item.link.split(":")[0] == 'http' || item.link.split(":")[0] == 'https' ? '' : '.html' %>">
          <%= item.title %> <span class="sr-only">(current)</span>
        </a>
      </li>
    <% } %>
      <li class="nav-item">
        <a class="nav-link" onclick="nav.logout();" href="#">
          登出 <span class="sr-only">(current)</span>
        </a>
      </li>
  </ul>

</nav>

<script src="js/nav.js"></script>
